
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: black;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}
.clearfix{zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}
.break-line{
  position: relative;
  margin: 5% auto;
  margin-bottom: 0%;
  width: 50%;
  background-color: darksalmon;
  height: 10px;
}
/*--------- HEADER --------- */

.my-header {
  background-image: url(img/background.jpg);
  background-size: cover;
  background-position: center;
  height: 20vh;
}

.heading-1 {
  float: left;
  margin-left: 90px;
}

.options {
  position: relative;
  list-style: none;
  text-align: center;
  margin-top: 20px;
  padding-right: 50px;
  padding-bottom: 10px;
  float: right;
  font-size: 120%;
}

.my-header li{
  display: inline-block;
  padding: 8px 20px;
}

.my-header li a:link,
.my-header li a:visited{
    padding: 8px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.my-header li a:hover,
.my-header li a:active {
  color: rgb(252, 165, 3);
  transition: color 0.2s ;
}

.search-box {
  float: left;
  padding-right: 50px;
  margin-right: 8px;
  border-radius: 5%;
}
/* ------------- REUSABLE COMPONENTS --------------- */
.row-first-post {
  position: relative;
	max-width: 790px;
  padding-left: 14%;
}

.row{
  max-width: 1140px;
  margin: 0px auto;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}
/* -------- HEADINGS ----------- */
h1 {
  color: rgb(172, 184, 63);
  font-size: 500%;
}
h4{
  color:rgb(197, 128, 0);
  text-align: center;
  font-size: 300%;
}

/* ------------- SECTIONS --------------- */
/* ------- SECTION 1 -------- */

::placeholder{
  position: static;
  color:rgb(102, 109, 106);
  font-size: 200%;
}
input[type=text]:focus{
  outline: none;
}
input[type=text]{
  border-radius: 5%;
  
}
.btn-ghost{
  width: 48%;
  height: 50px;
  border-radius: 2%;
  background-color:#548DFF;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 100%;
  color: white;
  margin: 2px;
  display: inline-flexbox;
}
.btn-ghost:hover{
  background-color:rgb(0, 84, 180);
  transition: background-color 0.4s;
}

/*----------images------------*/
.my-dog{
  padding: 0% 10%;
}
.my-all-dog{
  list-style: none;
  width: 100%;
}
.my-all-dog li{
  display: block;
  float: left;
  width: 33.33%;
}
.dog-photo {
  width: 100%;
  margin: 2px;
  overflow: hidden;
}
.dog-photo img{
  opacity: 0.7;
  width: 100%;
  height: 400px;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.dog-photo img:hover{
  opacity: 1;
  transform: scale(1.1);
}
/*------------headings-----------*/
/*----------- Posts ------------*/
.btn{
  position: relative;
  width: 30%;
  padding: 3% 10%;
  margin : 1%;
  background-color: rgb(168, 167, 167);
  border-radius: 5%;
  float: none;
}
.btn-heart:hover {
  background-color: palevioletred;
  color: white;
  transition: color 0.4s;
  transition: background-color 0.4s;
}
.btn-cmt:hover {
  background-color: teal;
  color: white;
  transition: color 0.4s;
  transition: background-color 0.4s;
}
.btn-share:hover{
  background-color:slateblue;
  color: white;
  transition: color 0.4s;
  transition: background-color 0.4s;
}
.style-post{
  text-align: center;
  border: 2px solid rgb(134, 134, 134) ;
  margin-bottom: 1%;
  border-radius: 5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  height: 25%;
}
.max-h{
  height: 25%;
}
/* ---------------- ion icons ---------------- */
ion-icon {
  font-size: 300%;
}
/* ---------------- footer ------------------- */
footer{
  text-align: center;
  background-color: DarkSalmon;
  padding: 2%;
  color: white;
}